html {
  background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(4,19,41,1) 14%, rgba(7,19,43,1) 29%, rgba(10,29,58,1) 45%, rgba(26,23,50,1) 64%, rgba(42,10,41,1) 78%, rgba(60,12,42,1) 100%);
  height: 100%;
}

#load-img {
  position: absolute;
  width: 320px;
  left: 0;
  right: 0;
  margin: auto;
  filter: contrast(1.2);

}

#load-img:hover {
  filter: contrast(2);
}

#canvas {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  border: 5px solid #080711;
}

#level-3-canvas {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  border: 5px solid #080711;
}

#level-1-canvas {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  border: 5px solid #080711;
  background-color: #1A2355;
}

#level-4-canvas {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  border: 5px solid #080711;
}

#file {
  z-index: 939283902;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}